<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>浮动布局</title>
	<style>
		.layout{
			width: 990px;
			margin:auto;
			background: #aaa;
			padding:10px;
			
			/*清除浮动*/
			overflow: hidden;
			zoom:1;
		}
		.sub{
			float: left;
			width: 200px;
			height: 600px;
			margin-right: 20px;
			background: #027cff;
		}
		.main{
			float: left;
			width:770px;
			height: 600px;
			background: #f60;
		}
	</style>
</head>
<body>
	<div class="layout">
		<div class="sub">sub</div>
		<div class="main">main</div>
	</div>
</body>
</html>