<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>双飞翼布局</title>
</head>

<body>
    <!--两栏式-->
    <div class="layout two">
        <div class="grid-main">
            <div class="main-wrap">750px(.grid-main>.main-wrap)</div>
        </div>
        <div class="grid-sub">232px(.grid-sub)</div>
    </div>
    <!--三栏式-->
    <div class="layout three">
        <div class="grid-main">
            <div class="main-wrap">550px(.grid-main>.main-wrap)</div>
        </div>
        <div class="grid-sub">232px(.grid-sub)</div>
        <div class="grid-extra">192px(.grid-extra)</div>
    </div>
</body>

</html>
