<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>form</title>
    <style>
    .myform {}
    
    .myform dl {
        zoom: 1;
        overflow: hidden;
    }
    
    .myform dt {
        float: left;
        width: 80px;
        text-align: right;
    }
    
    .myform dd {
        float: left;
    }
    </style>
</head>

<body>
    <div class="myform">
        <form action="" target="_self">
            <div class="pack">
                <dl>
                    <dt>姓名</dt>
                    <dd>
                        <label>
                            <input type="text">
                        </label>
                    </dd>
                </dl>
                <dl>
                    <dt>性别</dt>
                    <dd>
                        <label>
                            <input type="radio" name="sexy"> 男
                        </label>
                        <label>
                            <input type="radio" name="sexy"> 女
                        </label>
                    </dd>
                </dl>
                <dl>
                    <dt>兴趣</dt>
                    <dd>
                        <label>
                            <input type="checkbox" name="interesting" id=""> 篮球
                        </label>
                        <label>
                            <input type="checkbox" name="interesting" id=""> 足球
                        </label>
                        <label>
                            <input type="checkbox" name="interesting" id=""> 乒乓球
                        </label>
                    </dd>
                </dl>
                <dl>
                    <dt>简介</dt>
                    <dd>
                        <textarea name="" cols="60" rows="5"></textarea>
                    </dd>
                </dl>
            </div>
        </form>
    </div>
</body>

</html>
