<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>page</title>
    <link href="http://style.c.aliimg.com/fdevlib/css/lofty/ui/paging/2.0/back/paging-min.css" rel="stylesheet" />
    <link href="http://style.c.aliimg.com/fdevlib/css/lofty/ui/button/2.1/back/button-min.css" rel="stylesheet" />
    <link href="http://style.c.aliimg.com/fdevlib/css/lofty/ui/textbox/1.0/back/textbox-min.css" rel="stylesheet" />
</head>

<body>
    <div class="fui-paging" id="static_paging" data-url="http://s.1688.com/selloffer/-BFD7C3F7B5C6.html?pageSize=40&beginPage={page}">
        <span class="fui-paging-list">
			<a href="#" target="_self" class="fui-prev"><span class="fui-icon-16">&#xe601;</span></a>
        <a href="#" target="_self">1</a>
        <span class="fui-omit">…</span>
        <a href="#" target="_self">12</a>
        <a href="#" target="_self">13</a>
        <a href="#" target="_self" class="fui-current">14</a>
        <a href="#" target="_self">15</a>
        <a href="#" target="_self">16</a>
        <span class="fui-omit">…</span>
        <a href="#" target="_self" class="fui-next"><span class="fui-icon-16">&#xe602;</span></a>
        </span>
        <div class="fui-paging-form">
            <span class="fui-paging-total">共<em class="fui-paging-num">25</em>页</span>
            <span class="fui-number">
				<span>到</span>
            <input maxlength="6" class="fui-paging-input fui-text">
            <span>页</span>
            </span>
            <span class="fui-forward">
			  <button class="fui-paging-btn fui-btn">确定</button>
			  
			</span>
        </div>
    </div>
</body>

</html>
